<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" >
</head>
<body>
  <!-- As a heading -->
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">ECOM-ADMIN</span>
  </nav>
  <div class="container">
    <h2>ADMIN MANAGE</h2>
    <div class="row mt-3" style = "row-gap:30px">
        <div class="col-3 ">
            <a  [routerLink]="['/admin/product_add']" style = "text-decoration : none;">
                <div class="item box gradient">
                <p class = "item_tittle" >
                 QUẢN LÝ NGƯỜI DÙNG</p>
                </div>
            </a>
        </div>
        <div class="col-3 ">
            <a href="indexadmin.php?require=truyenmanage.php" style = "text-decoration : none;">
                <div class="item box gradient1">
                <p class = "item_tittle" >
                 QUẢN LÝ KHO TRUYỆN</p>
                </div>
            </a>
        </div>
        <div class="col-3 ">
            <a href="indexadmin.php?require=uploadpdf.php" style = "text-decoration : none;">
                <div class="item box gradient4">
                <p class = "item_tittle" >
                 UPLOAD SÁCH</p>
                </div>
            </a>
        </div>
        <div class="col-3 ">
            <a href="indexadmin.php?require=pdf_manage.php" style = "text-decoration : none;">
                <div class="item box gradient5">
                <p class = "item_tittle" >
                 QUẢN LÝ KHO SÁCH</p>
                </div>
            </a>
        </div>
        <div class="col-3 ">
            <a href="indexadmin.php?require=uploadtruyen.php" style = "text-decoration : none;">
                <div class="item box gradient2">
                <p class = "item_tittle" >
                 UPLOAD TRUYỆN</p>
                </div>
            </a>
        </div>
        <div class="col-3 ">
            <a href="indexadmin.php?require=uploadchap.php" style = "text-decoration : none;">
                <div class="item box gradient3">
                <p class = "item_tittle" >
                 UPLOAD CHƯƠNG</p>
                </div>
            </a>
        </div>
    </div>
  </div>
</body>
</html>