<div class="home-container">
    <div class="products">
      <div class="products__header">
        <h2>Category</h2>
      </div>

      <div class="products__list"  >
        <app-product-card
          *ngFor="let n of products"
          [id]="n.id"
          [title]="n.title"
          [image]="n.image"
          [price]="n.price"
          [short_desc]="n.short_desc"
          [category]="n.category"
          [quantity]="n.quantity"
        >
        </app-product-card>
      </div>
    </div>
    <div class="load-products">
    </div>
  </div>
  