<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" >
    <title>Document</title>
</head>
<body>
    <div class="container mt-5">
        <div>
          <button class="btn btn-success" [routerLink]="['/admin/product_add']">Add Product</button>
            <hr>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <td>STT</td>
                        <td>Tên SP</td>
                        <td>Hình Anh</td>
                        <td>Mô Tả</td>
                        <td>Gía SP</td>
                        <td>Số Lượng</td>
                        <td>Xóa</td>
                        <td>Sửa</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let n of products ,let i = index">
                        <td scope = "row">{{i+1}}</td>
                        <td>{{n.title}}</td>
                        <td>
                            <img src="{{n.image}}" width="200" height="150" alt="" srcset="">
                        </td>
                        <td>{{n.description}}</td>
                        <td>{{n.price}}</td>
                        <td>{{n.quantity}}</td>
                        <td><a   class = "btn btn-danger"href="javascript:void(0)" (click)="onDelete(n.id)">Xóa</a></td>
                        <td><a   class = "btn btn-primary"href="javascript:void(0)" (click)="onEdit(n.id)">Sửa</a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>STT</td>
                        <td>Tên SP</td>
                        <td>Hình Anh</td>
                        <td>Mô Tả</td>
                        <td>Gía SP</td>
                        <td>Số Lượng</td>
                        <td>Xóa</td>
                        <td>Sửa</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</body>
</html>
